{% extends 'activities/base.html'%}
<!-- {% load static %} -->
{% block body%}
<h1 id="main">Welcome to the to-do list page.</h1>
<table>
    <thead>
        <tr>
            <!-- <th>S.N</th> -->
            <th>Title</th>
            <th>Work</th>
            <!-- <th colspan="2">Activities</th> -->
        </tr>
    </thead>
    <tbody>
        {% for i in task %}
            <tr>
                <!-- <td></td> -->
                <td>{{i.Title}}</td>
                <td>{{i.work}}</td>
                <!-- <td><a href="">Edit</a></td> -->
            </tr>            
        {% endfor %}
    </tbody>
</table>
{%endblock%}